body {
	width: auto;
	margin: 0 auto;
	overflow-x: hidden;
}
.content {
	margin: 0 auto;
}
.sticky {
  	position: fixed;
  	width: 100%;
  	height: 45px;
  	z-index: 1;
  	top: 0;
  	background-color: #72ecfb;
}
.block1 {
	display: block;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("block1.jpg");
	background-size: 100%;
	height: 700px;
}
.block1 h1 {
	font-size: 30px;
	color: white;
	font-family: Comic Sans MS, sans-serif;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 250px;
	background: -webkit-linear-gradient(white, #72ecfb);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.block1 p {
	font-size: 20px;
	line-height: 28px;
	background: -webkit-linear-gradient(white, #72ecfb);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	text-align: center;
  	vertical-align: middle;
  	font-family: Comic Sans MS, sans-serif;
  	position: relative;
  	top: 270px;
}

.block2 {
	background-color: white;
	display: block;
}
.block2 img {
	height: 500px;
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
.block2-content{
	text-align: center;
	display: inline-block;
	color: #72ecfb;
  	font-family: Comic Sans MS, sans-serif;
}
.block2-content p {
	text-align: right;
	vertical-align: middle;
	font-size: 1.5vw;
}
.block2-content-button {
	background-color: #2eb6dc;
	color: white;
	border-radius: 30px;
	padding: 12px 24px;
	font-size: 30px;
	border: none;
	cursor: pointer;
}
.block2-content-button:hover {
	background-color: #a2d8e6;
}
.block3 {
	background-color: white;
	display: block;
}
.block3 img {
	float: right;
	height: 500px;
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
.block3-content {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color: #2eb6dc;
	font-family: Comic Sans MS, sans-serif;
	position: relative;
	top: 200px;
	left: 50px;
}
.block3-content-button {
	background-color: #2eb6dc;
	color: white;
	border-radius: 30px;
	padding: 12px 24px;
	font-size: 30px;
	border: none;
	cursor: pointer;
}
.block3-content-button:hover {
	background-color: #a2d8e6;
}
.block4 {
	background-color: white;
	display: block;
}
.block4 img {
	height: 394px;
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
.block4-content{
	position: relative;
	top: 100px;
	text-align: center;
	display: inline-block;
	color: #72ecfb;
  	font-family: Comic Sans MS, sans-serif;
}
.block4-content p {
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
}
.block4-content-button {
	background-color: #2eb6dc;
	color: white;
	border-radius: 30px;
	padding: 12px 24px;
	font-size: 30px;
	border: none;
	cursor: pointer;
}
.block4-content-button:hover {
	background-color: #a2d8e6;
}
.block5 {
	background-color: #50555c;
	color: white;
	font-family:  Comic Sans MS, sans-serif;
	height: 600px;
}
.block5 h1 {
	position: relative;
	top: 100px;
	text-align: center;
	vertical-align: middle;
}
.block5 p {
	line-height: 30px;
	font-size: 25px;
	position: relative;
	top: 120px;
	text-align: center;
	vertical-align: middle;
}
.block5-imgs {
	position: relative;
	left: 300px;
	top: 200px;
}
.block6 {
	color: white;
	font-family:  Comic Sans MS, sans-serif;
	height: 1000px;
	background-color: #72ecfb;
	display: block;
}
.block6 p {
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	line-height: 22px;
	position: relative;
}
.block6 h1 {
	padding-top: 50px;
	text-align: center;
	vertical-align: middle;
}
.block6-videos {
	display: inline-flex;
	position: relative;
	left: 200px;
}
.block7 {
	height: 450px;
	background-color: white;
	display: block;
}
.block7 img {
	position: relative;
	top: 50px;
	left: 50px;
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
.block7 img:hover {
	transform: scale(1.1);
	transition: .5s;
}
.block7-content{
	position: relative;
	top: 50px;
	text-align: center;
	display: inline-block;
	color: black;
  	font-family: Comic Sans MS, sans-serif;
}
.block7-content p {
	position: relative;
	left: 200px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}
.block8 {
	background-color: #50555c;
	color: white;
	font-family:  Comic Sans MS, sans-serif;
	height: 600px;
}
.block8 h1 {
	position: relative;
	top: 100px;
	text-align: center;
	vertical-align: middle;
}
.block8 p {
	line-height: 30px;
	font-size: 25px;
	position: relative;
	top: 120px;
	text-align: center;
	vertical-align: middle;
}
.block8-imgs {
	position: relative;
	left: 300px;
	top: 200px;
}
.block8 img:hover {
	transform: scale(1.1);
	transition: .5s;
}
.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; }
footer {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}