body {
	margin: 0 auto;
	width: auto;
	overflow-x: hidden;
}

.content {
	background: url("holo_id1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	width: 100%;
	z-index: -2;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.gen1 {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.gen1 span.border{
    font-family: Comic Sans MS, sans-serif;
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.block1 {
    color: #777;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    text-align: justify;
    font-family: Comic Sans MS, sans-serif;
}
.content2 {
    background: url("https://wallpapercave.com/wp/wp6507015.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
}
.content3 {
    background: url("https://i.redd.it/4bageqqku4651.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
}
.content4 {
    background: url("https://petapixel.com/assets/uploads/2019/11/squirrelleapfeat.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
}
.content5 {
    background: url("https://fastly.syfy.com/sites/syfy/files/styles/1200x680/public/2018/11/franchouchou.jpg?offset-x=0");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
}
.content6 {
    background: url("https://danbooru.donmai.us/data/__anya_melfissa_fate_and_3_more_drawn_by_substance20__fbdc31ce6101d928d229e27ba28a9ec5.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
}
footer {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	width: 100%;
  }
  @media screen and (max-width: 755px) {
	.gen1 span.border {
	  letter-spacing: normal;
	}
  }